.footer{
  background: #1E2127;
  text-align: center;
  padding: 20px 0;
  p{
    color: #989FAB;
  }
}

@include desktop {
  .footer {
    text-align: center;
    background: #F3F5F7;
    min-height: 50px;
    p {
      font-family: 'Circe-Regular';
      font-style: normal;
      font-size: 15px;
      padding: 0;
      margin: 0 10px 10px 0;
      color: #989FAB;
    }
  }
}