.footer {
  text-align: center;
  background: #F3F5F7;
  padding: 25px 0;
  p {
    font-family: 'Circle';
    font-style: normal;
    font-size: 15px;

    vertical-align: Top;

    color: #989FAB;
  }
}