@include desktop {
  .jobs-head {
    margin-bottom: 30px;
    .head {
      padding: 0 65px;
      .description {
        padding: 0 33% 0 30px;
        margin-bottom: 30px;
      }
    }
  }

  .jobs-body {
    margin-bottom: 16%;
    .carts {
      .cart {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 35px 42px;
        background: #ffffff;
        border: 1px solid rgba(47, 51, 60, 0.05);
        .title {
          font-size: 30px;
          line-height: 35px;
          margin-bottom: 0;
          margin-left: 0;
        }
        .description {
          margin: 0 auto;
          padding: 15px 0;
          &.bold {
            padding-top: 0;
            margin-top: 0;
            font-family: 'Circe-Bold';
            font-weight: 900;
            font-size: 30px;
            line-height: 35px;
            color: #232831;
          }
        }
        .button {
          align-self: flex-end;
        }
      }
    }
  }
}