.editor-block {
  margin-top: 134px;
  margin-bottom: 90px;
  .button{
    margin-left: 17px;
    text-align: center;
  }
  .title {
    margin-bottom: 32px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      top: 0;
      left: 0;
      background: url("/assets/images/arrow.svg") 50% no-repeat;
    }
  }
  .editor-info {
    p {
      font-family: 'Circe-Regular';
      font-size: 18px;
      line-height: 25px;
      margin-top: 0;
      margin-bottom: 32px;
    }
  }
  .editor-image{
    position: relative;
    margin: 0;
    padding: 0;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .editor-list {
    padding-left: 0;
    margin-left: 20px;
    .list-item {
      list-style: none;
      font-family: 'Circe-Regular';
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 27px;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        display: block;
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background: $color-red;
        left: -21px;
        top: 10px;
      }
    }
  }
}

@include desktop {
  .editor-block {
    margin-bottom: 104px;
    margin-top: 0;
    position: relative;
    .button{
      margin-left: 0;
      margin-top: 5px;
    }
    .title {
      margin-left: 93px;
      margin-bottom: 40px;
    }
    .editor-image {
      right: 4px;
      top: 109px;
      position: absolute;
    }
    .editor-info {
      p {
        font-size: 20px;
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 17px;
      }
    }
    .editor-list {
      margin-left: 27px;
      .list-item {
        position: relative;
        font-size: 20px;
        padding-right: 20px;
        line-height: 30px;
        &::before {
          position: absolute;
          content: "";
          display: block;
          height: 4px;
          width: 4px;
          border-radius: 50%;
          background: $color-red;
          left: -27px;
          top: 10px;
        }
      }
    }
  }
}