.img-block {
  display: inline-block;
  width: 100%;
  height: auto;
}

.title {
  font-family: 'YesevaOne';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  margin-left: 25px;
  line-height: 35px;
  margin-top: 0;
}

.description {
  font-family: 'Circe-Regular';
  color: $color-white;
  font-size: 18px;
  line-height: 25px;
}

.button {
  background: $color-red;
  color: $color-white;
  font-family: 'Circe-Bold';

  font-size: 13px;
  letter-spacing: 1.73px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 38px;
  display: inline-block;

  transition: 250ms ease;

  &:hover {
    background: #B40927;
  }
}

@include desktop {
  .title {
    font-size: 60px;
    line-height: 70px;
    margin-top: 0;
  }
  .description {
    font-size: 20px;
    line-height: 30px;
    color: $color-darkgray;
  }

}
