@import "grid/main";
@import "slick/main";
@import "styles/support/normalize";
@import "styles/support/variables";
@import "styles/support/fonts";
@import "styles/support/mixins";
@import "styles/support/grid";
@import "styles/support/common";
@import "styles/components/header";
@import "styles/components/footer";
@import "styles/components/open_jobs";
@import "styles/components/contacts";

body {
  background: #232831;
  color: $color-white;
  font-size: 15px;
}

@include tablet {
  body {
  }
}

@include desktop {
  body {
    background: $color-white;
    color: $color-black;
    font-size: 13px;
  }
}
